nav{
    width: 100%;
    /* background:  #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50px;
}

nav ul li{ /*aligning the different website bars horizontally and spaced out*/
    display:  inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.dark-nav{
    background:  #212EA0;
    transition: 0.5s;
}

.menu-icon{
    display: none;
}

.hide-mobile-menu {
    right: -210px; 
    transition: right 0.3s ease;
}

nav ul:not(.hide-mobile-menu){
    right: 0;
}


/* media query */
@media (max-width: 1000px) {
    .logo{
        width: 80px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}

@media (max-width: 870px) {
    .logo{
        width: 40px;
    }
    nav{
        padding: 15px 0;

    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background : #212EA0;
        z-index: -1;
        width: 210px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 45px 40px 40px;
    }   

    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu{
        right: -200px;
    }
}